* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    display: flex;
    overflow: hidden;
    margin: 0; 
}

.sidebar {
    background: #0F1035;
    color: #fff;
    height: 100vh;
    width: 70px; 
    transition: width 0.3s ease, margin-left 0.3s ease; 
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.container.sidebar-open .sidebar {
    width: 300px; 
    margin-left: 0; 
}

.main {
    flex: 1; 
    padding: 20px;
    transition: padding 0.3s ease, margin-left 0.3s ease; 
}

.container.sidebar-open main {
    margin-left: 300px; 
}
.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    font-size: 30px;
}

.bars {
    display: flex;
    font-size: 25px;
    margin-left: auto;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: background 0.5s;
}

.link:hover,
.link.active {
    background: #7FC7D9;
    color: #000;
}

.icon,
.link_text {
    font-size: 20px;
}

main {
    flex: 1; 
    padding: 20px;
    transition: padding 0.5s;
    margin-left: 70px; 
}
.container.sidebar-open main {
    margin-left: 300px; 
}
